.donate-card-main
{
    height: 20rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #6674cc;
    cursor: pointer;
}

.donate-card-main img
{
    height: 55%;
    width: 100%;
    object-fit: contain;
    /* border: 1px solid black; */
}


.donate-card-main .status
{
    height: 8%;
    width: 40%;
    margin-left: auto;
    z-index: 100;
}

.status .approvedCard
{
    color: rgb(3, 159, 3);
}

.status .rejectedCard
{
    color: gray;
}

.donate-card-main h2
{
    font-size: 1.4rem;
    color: #6674cc;
    font-weight: bold;
    font-family: 'Rubik' , 'sans-serif';
    margin-top: .6rem;
}

.donate-card-main p
{
    font-size: .8rem;
    color: rgb(76, 75, 75);
    font-family: 'Rubik' , 'sans-serif';
}

.donate-card-main small
{
    color:gray;
    font-weight: 500;
    padding-bottom: .5rem;
}

.modal-main
{
    height: 150%;
    width: 100%;
    border: 1px solid rgb(153, 151, 151);

}

.modal-main .modal-upper
{
    height: 25%;
    width: 100%;
    /* border: 1px solid green; */
    border-bottom: 1px solid rgb(162, 159, 159);
    display: flex;
}

.modal-upper .modal-upper-left
{
    height: 100%;
    width: 40%;
    /* border: 1px solid purple; */
    border-right: 1px solid rgb(162, 159, 159);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-upper-left img
{
    height: 80%;
    width: 80%;
    object-fit: contain;
}

.modal-upper .modal-upper-right
{
    height: 100%;
    width: 60%;
    /* border: 1px solid orange; */
    font-family: 'Rubik' , 'sans-serif';
    padding: 1rem;
}

.modal-upper-right h2
{
    color: #6674cc;
    font-weight: 500;
    font-size: 2.5rem;
    text-transform: capitalize;
}

.modal-upper-right .desc
{
    font-size: 1.3rem;
    color: gray;
}

.modal-upper-right a
{
    color: gray;
    font-size: 1.1rem;
    text-transform: lowercase;
    text-decoration: none;
    padding-bottom: 1rem;
}

.modal-upper-right a:hover
{
    color: #6674cc;
}

.modal-upper-right .phone
{
    color: gray;
    font-size: 1.1rem;
}

.modal-main .modal-lower
{
    height: 75%;
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
}

.modal-lower .lower-cause
{
    height: 25%;
    width: 100%;
    /* border: 1px solid gold; */
    border-bottom: 1px solid rgb(162, 159, 159);
}


.modal-lower .div-title
{
    padding: 1rem;
    font-size: 2rem;
    color: #6674cc;
    font-family: 'Rubik','sans-serif';
    font-weight: 500;
}

.modal-lower ul
{
    list-style-type:circle;
    color: gray;
    padding-left: 3rem;
}

.modal-lower li
{
    color: rgb(71, 71, 71);
    font-weight: 500;
}

.modal-lower li a
{
    color: blue;
    font-weight: 500;
    text-decoration: none;
}


.modal-lower .lower-desc
{
    height: 30%;
    width: 100%;
    /* border: 1px solid blue; */
    border-bottom: 1px solid rgb(162, 159, 159);
}

.modal-lower .lower-document
{
    height: 25%;
    width:100%;
    /* border: 1px solid black; */
    border-bottom: 1px solid rgb(162, 159, 159);
}

.lower-accept-btn
{
    height: 25%;
    width: 100%;
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-accept-btn .lower-btns
{
    height: 60%;
    width: 50%;
    /* border: 1px solid green; */
}

.lower-btns
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lower-btns button
{
    height: 42%;
    width: 30%;
    background-color: whitesmoke;
    color: rgb(75, 74, 74);
    font-family: 'Rubik','sans-serif';
    font-weight: 500;
    border: 2px solid rgb(3, 159, 3);
    border-radius: 5px;
}

.lower-btns .approve:hover
{
    color: white;
    background-color: rgb(3, 159, 3);
}

.lower-btns .reject
{
    border: 2px solid rgb(204, 5, 5);
}

.lower-btns .reject:hover
{
    color: white;
    background-color: rgb(204, 5, 5);
}